@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1200px){

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
        color: rgba(0, 128, 0, 0.582)
    }

    main {
        background-color: rgba(137, 43, 226, 0.103);
       min-width: 992px;
       max-width: 1200px;
       margin-top: 20px;
    }   

    article.barra > img {
        width: 400px;
    }   

    article.leticia > img {
        width: 400px;
    }

    article.mae > img {
        width: 300px;
    }
    
}

@media screen and (min-width: 1200px) {
    
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3em;
        color: rgba(128, 255, 0, 0.103);
    }

    main {
        background-color: rgba(128, 255, 0, 0.103);
        min-width: 1200px;
        margin-top: 80px;
    }   
    
    article.barra > img {
        width: 600px;
    }   

    article.leticia > img {
        width: 600px;
    }

    article.mae > img {
        width: 400px;
    }


}



