@charset "UTF-8";

@media screen and (max-width: 768px) {
    
    h1 {
        color: blue;
    }

    h2 {
        font-size: 1.2em;
        text-align: center;
    }
   
    main {
        background-color: var(--cor);       
        width: 100vw;
        height: 2350px;
        margin-top: 128px;
        margin-left: 0px;
        border-radius: 10px;
    }

    iframe {
        width: 620px;
        display: block;
        margin-left: 10px;        
        margin-top: 10px;
    }

    div.iframe > img {
        width: 200px;
        display: none;
    }

    section.leticia {  
        background-color: rgba(240, 177, 177, 0.144);
        width: 100vw;
        height: 300px;
        margin-top: 10px;
        margin-left: 0px;     
    }
     
    section.leticia > img {
        width: 200px;
        margin-left: 2px;
        border-radius: 10px;
    }

    section.leticia > p {
        width: 98vw;
        margin-left: 5px;
    }  
    
    section.mae {
        background-color: rgba(240, 177, 177, 0.144);
        width: 100vw;
        height: 300px;
        margin-top: 10px;
        margin-left: 0px;
    }

    section.mae > img {
        width: 100px;
        margin-left: 2px;
        border-radius: 10px;
    }

    section.mae > p {
        width: 98vw;
        margin-left: 5px;
    }

    article {  
        background-color: rgba(4, 5, 26, 0.082);        
        width: 100vw;
        height: 650px;
        margin-left:0px;
        margin-top: 710px;         
    }
     
    article> img {        
        width: 200px;
        border-radius: 10px;
        margin-left: 2px;
    }
     
    article> p {
        width: 98vw; 
        margin-left: 5px;       
    }     

     footer {
        display: block;
       margin-top: 30px;
    }

    footer > p {
        font-size: 0.6em;
    }
}






@media screen and (min-width: 768px) and (max-width: 992px) {
    h1 {
        color: green
    }

    h2 {
        font-size: 1.2em;
        text-align: center;
    }
   
    main {       
        width: 100vw;
        height: 2070px;
        margin-top: 128px;
        margin-left: 0px;
        border-radius: 10px;
    }

    div.iframe {
        background-color: lightgrey;
        display: flex;
        flex-flow: row wrap;               
        margin-top: 10px;
    }

    iframe {
        flex: 0 1 370px;
    }

    div.iframe > img {
        width: 320px;
        height: 250px;
        margin-top: 65px;
    }

    section.leticia {  
        background-color: rgba(240, 177, 177, 0.144);
        width: 100vw;
        height: 300px;
        margin-top: 10px;
        margin-left: 0px;     
    }
     
    section.leticia > img {
        width: 300px;
        margin-left: 2px;
        border-radius: 10px;
    }

    section.leticia > p {
        width: 98vw;
        margin-left: 5px;
    }  
    
    section.mae {
        background-color: rgba(236, 36, 36, 0.144);
        width: 100vw;
        height: 760px;
        margin-top: 10px;
        margin-left: 0px;
    }

    section.mae > img {
        width: 150px;
        margin-left: 2px;
        border-radius: 10px;
    }

    section.mae > p {
        width: 98vw;
        margin-left: 5px;
    }

    article {  
        background-color: rgba(4, 5, 26, 0.082);        
        width: 100vw;
        height: 550px;
        margin-left:0px;
        margin-top: 10px;         
    }
     
    article> img {        
        width: 300px;
        border-radius: 10px;
        margin-left: 2px;
    }
     
    article> p {
        width: 98vw; 
        margin-left: 5px;       
    }     

     footer {
        display: block;
       margin-top: 30px;
    }

    footer > p {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    h1 {
        color: yellow;
    }

    div.iframe {
        background-color: lightgrey;
        display: flex;
        flex-flow: row wrap;               
        margin-top: 10px;
    }

    iframe {
        flex: 0 1 370px;
    }

    div.iframe > img {
        width: 320px;
        height: 250px;
        margin-top: 65px;
    }
}