@charset "UTF-8";

@media screen and (max-width: 768px) {
    
    h1 {
        color: blue;
    }

    main {
        background-color: rgba(43, 159, 226, 0.171);
        width: 95vw;
        height: 2000px;
        margin-top: 140px;
        border-radius: 10px;
    }

    iframe {
        width: 90vw;
        margin-top: 10px;
    }

    section { 
        background-color: rgba(255, 255, 0, 0.356); 
        width: 90vw;
        height: 250px;
        margin-left:0px;
        margin-top: 0px;        
    }
     
    section > img {
        width: 100px;
        
    }

    article {  
        background-color: rgba(0, 255, 255, 0.384);    
        width: 90vw;
        height: 660px;
        margin-left:0px;
        margin-top: 0px; 
        border-top: 1px solid black; 
    }
     
    article > img {        
        width: 200px;
    }
     
    article > p {
        width: 75vw;        
    }     

    section#mae {
        background-color: rgba(0, 183, 255, 0.514);
        height: 700px;
    }

     footer {
        display: block;
       margin-top: 10px;
    }
}






@media screen and (min-width: 768px) and (max-width: 992px) {
    h1 {
        color: rgb(0, 255, 234)
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    h1 {
        color: yellow;
    }
}