@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }

 
  .grid-album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .grid-album img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .grid-album img:hover {
    transform: scale(1.05);
  }
  