@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    h1 {
        color: green;
    }

    main {   
        max-width: 992px;
        height: 100%;    
        margin-top: 45px;   
    }

    div.foto {
        background-color: #0073e615;
        max-width: 768px;
        display: flex;
        flex-flow: row wrap;
    }
    
    div.arnaldo img {
        width: 200px;
        padding: 10px;
        margin-left: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 7px black;    
    }
    
    div.tiao img {
        width: 200px;
        padding: 10px;
        margin-left: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 7px black; 
    }
    
    div.isabel img {
        width: 200px;
        padding: 10px;
        margin-left: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 7px black;
    }

    article > img {
        min-width: 284px;
        max-width: 684px;
        margin-top: 10px;
        margin-left: 40px;
        box-shadow: 0px 0px 7px black;
        text-align: center;    
    }
       


}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    h1 {
        color: blue;
    }
}