@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&display=swap');

@font-face {
    font-family: 'Feeling Lovely';
    src: url('../fontes/Feeling\ Lovely.ttf');
}

:root {
    --cor0:#12C197;
    --cor1:#997708;
    --cor2:#0073E6;
    --cor3:#c4a5a5;
    --cor4:#003C47;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "BurgeeSpice", sans-serif; 
    --fonte-feeling: 'Feeling' cursiva;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     /*Incluir a borda no calculo do tamanho*/
}

html {    
   
}

body {
    background: black url(../imagens/mgs.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100nh;
}

header {     
    /*background-image: linear-gradient(to left, var(--cor4), var(--cor2)); */ 
    background-color: white; 
    position: fixed;
    top: 0px;    
    font-family: var(--fonte-padrao);       
    padding: 10px;
    text-align: center;  
    width: 100vw;      
}

nav {   
    position: fixed;
    top: 0px;
    padding: 5px; 
    width: 100vw            
}

nav > a > abbr img {
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;    
}

nav > a abbr img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px); /*para mexer o botão zinho*/
    transition: tranform .3s, border .5s; /*Pra transformação aparecder em 1/3 de segundos e a borda em 1s*/
}

h1 {
   font-family: var(--fonte-padrao);   
    font-size: 1.5em;
    color: var(--cor3);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247); 
    margin-top: 0px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}


p {
    font-family: var(--fonte-feeling);
    font-size: 0.7em;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px; /*Para separar dos títulos*/
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 100vw;
    height: 100nh;    
    margin: auto;       /*para ficar centralizada*/
    margin-top: 48px;       
    border-radius: 10px;    
}

.carrossel {
      width: 250px;
      height: 150px;
      overflow: hidden;
      position: relative;
      border: 3px solid #fff;
      border-radius: 10px;
      margin-left: 10px;
    }
    /*-------------------------------------------------Carrossel*/
    .imagens {
      display: flex;
      width: calc(250px * 4); /* Número de imagens */
      animation: slide 12s infinite;
    }

    .imagens img {
      width: 250px;
      height: 150px;
      object-fit: cover;
    }

    @keyframes slide {
      0% { transform: translateX(0); }
      25% { transform: translateX(0); }
      30% { transform: translateX(-500px); }
      50% { transform: translateX(-500px); }
      55% { transform: translateX(-1000px); }
      75% { transform: translateX(-1000px); }
      80% { transform: translateX(-1500px); }
      100% { transform: translateX(-1500px); }
    }
    /*------------------------------------------------------*/
.grid-matogrosso {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 0px;
  }

.grid-matogrosso img {
   width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    margin-left: 10px;
  }
  
  .grid-matogrosso img:hover {
    transform: scale(1.05);
  }

.topo > img {
    width: 100vw;
    height: 60px;
    flex-basis: 700px;
    flex-shrink: 1; /* Pode crescer */
    flex-grow: 1;   /* Pode encilher */   
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;   
    margin-top: 20px;
    padding: 10px;
    margin-left: 10px;
}

.grid-ilus {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 0px;
}

.grid-ilus img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    margin-left: 10px;
}
.grid-ilus img:hover {
    transform: scale(1.05);
}

///////////////////////////////////////////////


section.flex-content {
    padding: 20px;
    background-color: rgb(180, 176, 176);

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse; 
    justify-content: space-between;   
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media {
    flex: 1 0 400px;
}

div.media > img {
    display: block;
    margin-left: 10px;
    width: 300px;
    padding: 10px;
}

div.media > iframe {
    display: block;
    margin-left: 10px;
    
    width: 90%;
}

footer {
    /*background-image: linear-gradient(to left, var(--cor4), var(--cor2));*/
    background-color: white;
    font-family: var(--fonte-padrao); 
    text-align: center; 
}