@charset "UTF-8";

@media screen and (min-width: 922px) and (max-width: 1200px) {

    header {
        background-color: rgba(255, 136, 0, 0.479);
    }

    header > h1 {
        color: green;
    }

    menu > ul > li > a:hover { 
        background-color: rgba(255, 136, 0, 0.479);;
    }

   

    article {
        background-color: rgba(255, 136, 0, 0.479);
    }

    div.foto img {
        width: 250px;  
    }

}





@media screen and (min-width: 1200px) {

    article {
        background-color: green;
    }

    div.foto img {
        width: 350px;  
    }
}

