@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    /*Para retirar as margens*/
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(148, 148, 148);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer; /*Virar uma maõzinha*/ 
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;  /*Aqui era display: block, agora e none para esconder o menu*/
    width: 200px;
}

menu > ul {
    list-style: none; /* Retira as bolinas da lista*/
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none; /*Retirar as linhas sublinhadas*/
    text-align: center;
    background-color: rgb(78, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
} 

/*da qui*/
menu > ul > li > a img {
    height: 20px;
    border-radius: 10px; 
}
/*Até aqui*/

main {
    width: 90vw;
    height: 100%;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
}

article {
    background-color: rgba(0, 247, 255, 0.144);
    width: 90vw;
}

article  > h2{
    text-align: center;
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;  /*Espaçamento entre os parágrafos*/
    margin-left: 0px;
    text-indent: 20px;
}

div.img {
   display: flex;
}

div.foto {
    padding: 10px;
    text-align: center;
    flex: auto;
}

div.foto img {
    background-color: aqua;
    width: 250px;
} 

div.foto p {
    color: blue;
}



footer {
    background-color: rgb(148, 148, 148);
    color: white;
}

footer p {
    margin-left: 25px;
}

